<h1> List of all directors </h1>

<%= @director %>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <tr>
  <%@director_list.each do |d| %>

    <th>
     <%= d.id %>
    </th>
    <th>
    <img src="http://robohash.org/<%= d.name %>" style="width:250px">
    </th>
    <th>
     <%= d.name %>
    </th>
    <th>
     <%= d.dob %>
    </th>
    <td>
      <a href="/directors/<%=d.id%>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
  